table {
      width: 100%;
      border-collapse: collapse;
}
th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
}
.header, .footer {
      background-color: #355e3b;
      color: #fff;
      padding: 5px;
      text-align: center;
}
.kiri {
    width: 15%;
    background-color: #AA8B56;
    height: calc(60vh - 20px);
    margin: 20px;
    color: #fff;
}
.tengah {
    width: 70%;
    background-color: white;
    height: calc(60vh - 20px);
    margin: 20px;
}

.kanan {
    width: 20%;
    background-color: #AA8B56;
    color: #fff;
    height: calc(60vh - 20px);
    margin: 20px;
}

.column{
    text-align: justify;
    line-height: 1.6;
}

.column2{
    text-align: right;
    line-height: 1.6;
}

.column3{
    text-align: left;
    line-height: 1.6;
}


.a {
    text-decoration: none;
    color: black;
}

.bg-loader{
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #355e3b;
    border-right-color: #355e3b;
    border-bottom-color: #355e3b;
    animation: puterin .8s linear infinite;
  }
  @keyframes puterin{
    100%{
      transform: rotate(360deg);
    }
  }